# black list
/*
target
tmp
tmp__*
tmp.*

## traditional linux & .*BSD$
.directory
LOST.DIR
.Trash-*
## android
.thumbnails*
# .nomedia
## macOS
.DS_Store
Icon?
.Spotlight-V100
.fseventsd
.Trashes/
.apDisk
.TemporaryItems/
## windows
desktop.ini
Thumbs.db
Thumbs.db:encryptable
$RECYCLE.BIN/
~$*.tmp

perf.data
perf.data.old
flamegraph.svg

# white list
!/.git*
!/.cargo
!/Cargo.toml
!/Readme.md
!/License
!/assets
!/Cargo.lock
!/.rustfmt.toml
!/crates
!/tests
!/docs
